[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "~=6.2.1"
pytest-django = "~=3.4.8"
pytest-pythonpath = "~=0.7.3"

[packages]
djangochannelsrestframework = "==0.2.2"
channelsmultiplexer = "==0.0.3"
testing-redis = "~=1.1.1"
channels-redis = "~=3.2.0"

[requires]
python_version = "3.7"
